<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form class="modal-content" [formGroup]="taskForm" (ngSubmit)="saveTask()">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create Task</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input formControlName="title" class="form-control" id="title" placeholder="Shopping">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea formControlName="description" class="form-control" id="description" rows="2"
                        placeholder="Need to go for shopping at.."></textarea>
                </div>

                <div formArrayName="subTasks">
                    <label for="name">SubTask {{subTasks.controls.length}}</label>
                    <div *ngFor="let subTask of subTasks.controls; let i = index" [formGroupName]="i">
                        <div class="mb-3 d-flex">
                            <input formControlName="name" class="form-control" id="title" placeholder="Shopping">
                            <button *ngIf="subTasks.controls.length !== (i + 1)" class="btn btn-danger ms-1"
                                type="button" (click)="removeSubTask(i)"><i class='bx bx-minus'></i></button>
                            <button *ngIf="subTasks.controls.length === (i + 1)" class="btn btn-success ms-1"
                                type="button" (click)="addSubTask()"><i class='bx bx-plus'></i></button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel<i
                        class='bx bx-close'></i></button>
                <button type="submit" class="btn btn-primary">Save Task<i class='bx bx-check'></i></button>
            </div>
        </form>
    </div>
</div>


<!-- View Todo list-->
<div class="card my-2">
    <div class="card-header d-flex justify-content-between">
        Featured @if(true) {
        <span>2 days ago</span>
        } @else {
        <i class='bx bxs-check-circle text-secondary fs-4' title="pending"></i>
        }
    </div>
    <div class=" card-body">
        <p>This is description</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>

    </div>
</div>

<div class="card my-2">
    <div class="card-header d-flex justify-content-between">
        Featured @if(true) {
        <span>2 days ago</span>
        } @else {
        <i class='bx bxs-check-circle text-secondary fs-4' title="pending"></i>
        }
    </div>
    <div class="card-body">
        <p>This is description</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
    </div>
</div>