<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-xl-2 col-lg-1 col-md-12"></div>
    <div class="col-xl-8 col-lg-10 col-md-12">
      <div class="d-flex">
        <div class="flex-grow-1">
          <h1 class="text-info-emphasis">
            TODO <i class="bx bxs-message-square-check fs-2"></i>
          </h1>
        </div>

        @for (navRoute of navRoutes; track $index) {
        <div
          class="align-self-center cursor-pointer nav-icon mx-1"
          routerLink="{{ navRoute.route }}"
          routerLinkActive="active"
          title="{{ navRoute.title }}"
        >
          <i class="bx fs-4" [class]="navRoute.bxIcon"></i>
        </div>
        }
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
