.cursor-pointer {
  cursor: pointer;
}

.nav-icon {
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 50%;
  border: 1px solid gray;
  .bx {
    margin: 0;
    position: absolute;
    top: 24%;
    left: 25%;
  }
}

.nav-icon:hover {
  .bx {
    color: aquamarine;
  }
}

.active {
  border-color: aqua;
  color: aqua;
}
