.cursor-pointer {
  cursor: pointer;
}

.nav-icon {
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  display: flex;
  margin: 0px 2px;
  transition: 0.5s;
  .bx {
    align-self: center;
    padding: 7px;
    color: white;
    transition: 0.5s;
  }
}

.nav-icon:hover {
  border: 1px solid aqua;
  transition: 0.5s;
  .bx {
    color: aqua;
    transition: 0.5s;
  }
}
